body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.status_bar,
.main_menu {
    position: fixed;
    background: white;
    padding: 16px;
    width: calc(100% - 32px);
    left: 0;
}

.status_bar {
  bottom: 0;
  box-shadow: 0 -1px 4px rgba(37, 37, 37, 0.12);
}

.main_menu {
    top: 0;
    box-shadow: 0 1px 4px rgba(37, 37, 37, 0.12);
}

.info_panel {
    display: flex;
    flex-flow: column;
    height: 90px;
    padding: 10px;
    color: white;
}

.card_hidden {
  display: none;
}

.card.card_shown {
  display: flex;
}

.card {
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.12);
    padding: 0;
    height: 400px;
    width: 280px;
    margin: 70px auto;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    flex-flow: column nowrap;
    justify-content: flex-end;
    border: 10px solid white;
}

.card > ul {
    background: rgba(255, 255, 255, 0.5);
    list-style:  none;
    margin:  0;
    padding: 5px 10px;
}

.card > ul li {
    margin-bottom: 5px;
    cursor:  pointer;
    padding:  5px;
}

.card > ul li:hover {
    background: rgba(231, 0, 0, 0.5);
}
